.root {
    -fx-background-color: #e2f3e4;
}

Label {
    -fx-font-family: "";
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

#lblHasil {
    -fx-font-weight: bold;
}

Button {
    -fx-background-color: #7dc884;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}

TextField, ComboBox {
    -fx-background-radius: 5px;
}
